[submodule "icemu/icemu"]
	path = icemu/icemu
	url = https://github.com/TUDSSL/ICEmu.git
[submodule "noelle/noelle"]
	path = noelle/noelle
	url = https://github.com/iiKoe/noelle.git
[submodule "customriscv"]
	path = customriscv
	url = git@github.com:TUDSSL/customriscv.git
